
ion-card-content {
    font-size: large;
    
}

ion-input {
  border-radius: 10px !important;
  padding-right: 30px;
  border: 1px solid white !important;
  max-width: 700px; 
}

.foto{
  max-width: 150px;
  text-align: right;
}